# Build and Release Folders
bin-debug/
bin-release/
obj/
bin/

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.pdb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
packages/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
